body{
  font-family: Arial, Helvetica, sans-serif;
}



/* Start of Colours */
.black-text{
    color: #323232;
}
.blue-colour{
    color: #0D98BA;
}
#charcoal{
    background-color: #314559;
    color: white;
}
#gold{
  background-color: rgb(216, 150, 28);
  color: white;
}
#purple{
  background-color: purple;
  color: white;

}
#lightIndianred{
    background-color: rgba(128, 0, 128, 0.207);
    color: black;
}

#lightGoldenrod{
    background-color: rgba(218, 165, 32, 0.323);
    color: black;

}
#blue-colour{
    background-color: #0D98BA;
    color: white;

}

#sort{
  background-color: #0D98BA;
  color: white;
}

#lightBlue{
  background-color: #8dbec9;
  color: white;
}

#navbarBg{
  background-color: #F4F4F4;
}
.black-colour{
    background-color: #323232;
}
#lightRed{
  background-color: #ff6666;
  color: white;
}
.indianRed{
  color: IndianRed;
}
#saveBtn{
    background-color: #323232;
    color: white;
}

#saveFullBtn{
    background-color: #0D98BA;
    color: white;

}

#updateEventBtn{
    background-color: #0D98BA;
    color: white;

}
#pink-colour{
    background-color: #0D98BA;
    color: white;
}

#lightBlue-colour{
  background-color: #1A1A1A;
  color: white;
}

/*End of Colours*/
input[type="text"] {
  text-transform: capitalize;
}

/* Start of Login */
.loginPage{
  background-color: #f9fafc;
}
.navbar-logo img {
    max-width: 20%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 2%;
}

.error-container {
  position: relative;
  height: 0;
}

.errorMessage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.errorMessage.show {
  opacity: 1;
}

.login-register{
  height: 100vh;
  padding-top: 5%;
}
/* End of Login */

/* Start of Sidebar */
.sidebar-logo {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.sidebar-logo img {
    width: 200%;
    height: auto;
    margin-right: 10%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}  
  .sidebar a {
    display: block;
    color: #0D98BA;
    padding: 5%;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #0D98BA;
    color: white;
    font-weight: bold;
}

  
  .sidebar a:hover:not(.active) {
    background-color: #bec5c765;
    color: #0D98BA;
  }
    
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .nav-items i {
    font-size: 180%;
    margin-right: 5%;
  }

  .top-nav-items{
    margin-top: 30%;
    align-items: center;
  }

  .bottom-nav-items{
    margin-top: 100%;
  }
  /* End of Sidebar */

  /* Start of All */
  .content {
    margin-left: 15%;
    padding: 2%;
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
  }
  /* End of All */

/* Start of Goal */
.completed {
  opacity: 0.4;
  text-decoration: line-through;
}


input[type="checkbox"] {
  line-height: normal;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.goal {
  border-radius: 16px;
  padding: 5%;
  background-color: white;
}

.goal p {
  margin: 5px 0;
  font-size: 14px;
}

.goalDeadline{
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 16px;
  background-color: white;
}

.goal .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addGoalButton{
  color: white;
  background-color: #5e7388;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Modal Form */


.modal-dialog{
  color: #314559;
}


/* End of Goal */

/* Start of Task */
.task-manager a{
  color:#314559
}
.task-manager a:hover, a:active, a:focus{
  color:#314559
}

.task-manager .btn:hover{
  opacity: 0.90;
}
.categories button{
  border:none;
}
.task {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 5%;
  background-color: white;
}

.task p {
  margin: 5px 0;
  font-size: 14px;
}

.taskDeadline{
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 16px;
  background-color: white;
}

.taskPriority{
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  width: 80%;
}

.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #314559;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #fefdfd; text-decoration: none;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightgrey;}

/* End of Task */

/* Start of Schedule */
.fc {
  text-transform: capitalize;
}
.fc-button {
  text-transform: capitalize;
  background-color: #588ec5;
  color: white;

}

#dates{
  display: none;
}
#editDates{
  display: none;

}
/* End of Schedule */

/* Start of Pomodoro */
.sessionTime{
  border-radius: 10px;
  background-color: #8dbec9;
  padding: 2%;
  color: white;
}

.breakTime{
  border-radius: 10px;
  background-color: #8dbec9;
  padding: 2%;
  color: white;
}

.cycleNumber{
  border-radius: 10px;
  background-color: transparent;
  color: #323232;
  padding-left: 35%;
}

.sessionTime input{
  border: none;
  outline: none;
  background: none;
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
  margin-left: 5%;
  color: white;
}

.breakTime input{
  border: none;
  outline: none;
  background: none;
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
  margin-left: 5%;
  color: white;
}

.cycleNumber input{
  border: none;
  outline: none;
  background: none;
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
  margin-left: 5%;
  color: #323232;
}

.sessionTime p {
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
}

.breakTime p {
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
}

.cycleNumber p {
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
}

.timer button{
  margin-top: 50%;
  background-color: #323232;
  color: white;
  margin: auto;
  width: 80%;
}

.play button{
  margin-top: 50%;
  background-color: #323232;
  color: white;
  margin: auto;
  width: 80%;
}

.timer button:hover{
  background-color: #474747;
  color: white;
}

/* End of Pomodoro */


/* Start of Profile */
table{
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 5%;
  background-color: white;
}
/* End of Profile */