/* Start of Colours */
.pink-text{
    color: #FF6060;
}
.blue-colour{
    background-color: #314559;
}
#blue-colour{
    background-color: #314559;
}
.pink-colour{
    background-color: #FF6060;
}
#pink-colour{
    background-color: #FF6060;
}
/*End of Colours*/


/* Start of Login */
.navbar-logo img {
    max-width: 35%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 15%;
}
/* End of Login */



/* Start of Navbar */
.sidebar {
    height: 100%;
    width: 16%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #314559;
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 8px 0;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.sidebar.minimized #nav-items label {
    display: none;
}
.sidebar.minimized .navbar-logo p{
    display: none;
}
.sidebar.minimized .sidebar a span {
    display: none;
}

.sidebar.minimized .navbar-logo img,
.sidebar.minimized #nav-items img {
    max-width: 40%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 0; /* Remove margin bottom for icons */
}

#toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}


