/* Start of Colours */
.pink-text{
    color: #FF6060;
}
.blue-colour{
    background-color: #314559;
}
#blue-colour{
    background-color: #314559;
}
.pink-colour{
    background-color: #FF6060;
}
#pink-colour{
    background-color: #FF6060;
}
/*End of Colours*/


/* Start of Login */
.navbar-logo img {
    max-width: 35%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 15%;
}
/* End of Login */

/* Start of Sidebar */
.sidebar-logo {
    display: flex;
    align-items: center;
}

.sidebar-logo img {
    width: 250%;
    height: auto;
    margin-right: 10%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}  
  .sidebar a {
    display: block;
    color: white;
    padding: 5%;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: white;
    color: #FF6060;
    font-weight: bold;
}

  
  .sidebar a:hover:not(.active) {
    text-decoration: none;
    color: inherit;
  }
    
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .nav-items i {
    font-size: 180%;
    margin-right: 5%;
  }

  .top-nav-items{
    margin-top: 30%;
    align-items: center;
  }

  .bottom-nav-items{
    margin-top: 75%;
  }
  /* End of Sidebar */

  /* Start of All */
  .content {
    margin-left: 15%;
    padding: 2%;
    background-color: #f6f2f2;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* End of All */

/* Start of Goal */
.opacity{
  display: none;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
.opacity1{
  display: none;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

}

.goaldueDate p{
  top: 0;
  right: 0;
  text-align: right;
}

.delete{
  bottom:0;
  right:0;
  text-align: right;
}

.addGoalForm{
    position: fixed;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 45%;
    background-color: #F99192;
}

.cancel{
  bottom: 0;
  right: 0;
  align-items: right;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.createTaskForm{
  position: fixed;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 70%;
  background-color: #F99192;
}

/* End of Goal */

/* Start of Task */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card-title{
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Start of Pomodoro */
.sessionTime{
  border-radius: 10px;
  background-color: #F99192;
  padding: 2%;
  color: white;
}

.breakTime{
  border-radius: 10px;
  background-color: #F99192;
  padding: 2%;
  color: white;
}

.sessionTime input{
  border: none;
  outline: none;
  background: none;
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
  margin-left: 5%;
  color: white;
}

.breakTime input{
  border: none;
  outline: none;
  background: none;
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
  margin-left: 5%;
  color: white;
}

.sessionTime p {
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
}

.breakTime p {
  display: inline;
  font-size: 300%;
  font-family: 'Orbitron', sans-serif;
}

.timer button{
  margin-top: 50%;
  background-color: #314559;
  color: white;
  margin: auto;
  width: 80%;
}

.timer button:hover{
  background-color: #5e7388;
  color: white;
}